{% extends 'user/layout/layout.html.twig' %}

{% set page_title %}Dashboard{% endset %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard_homepage') }}
    {{ encore_entry_link_tags('app_planning') }}
{% endblock %}

{% block main_content %}
    <div class="main-content">
        <div class="dash-line-2">
            <div id="planning" data-donnees="{{ donnees }}"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_planning') }}
{% endblock %}